<div class="container" id="home-container">
  <div class="jumbotron text-center text-white font-weight-bolder">
      <h1 class="display-4">RoR Blog</h1>
      <p class="lead">This is the First Deployed Ruby on Rails App Completed.</p>
      <hr class="my-4">
      <p>Please Explore further</p>
      <%= link_to "Articles", articles_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>



